APP_NAME=Lumen
APP_ENV=local
APP_KEY=
JWT_KEY=33dj8d1m0c4reb18c91ae533cdd78b29
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=7class
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_general_ci

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
